
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
}
    
.container img {
  max-width: 100%;
  max-height: 100%;
}

.contain {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}
  
.contain img {
max-width: 100%;
max-height: 100%;
}


footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1100px; /* Ajuste cette valeur selon tes besoins */
  padding: 20px;
 
  
}

.menu-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 02px;
  
}

.menu-footer li {
  margin: 0 08px;
  margin-top: 10px;
  padding-top: 10px;
}

.menu-footer li a {
  color: #000;
  text-decoration: none;
}

.menu-footer li a:hover {
  text-decoration: underline;
}

.menu-footer li.flex-item {
  flex: 0 0 100%;
}

@media screen and (max-width: 480px) {
  .menu-footer li.flex-item {
    flex-basis: auto;
  }
}
.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
